body{background-color: rgb(196, 245, 176);}

img{  height: 250px;
    width: 350px;
   position: relative;
left: 500px;

   
}
h1{
    text-align: center;
    text-decoration: underline;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}



#items{
    background-color: aquamarine;
    height: 250px;
    width: 350px;
    display: flex;
    flex-flow:row wrap;
  align-items: stretch;
  position: relative;
  left: 500px;


}

#items1{
    height: 50px;
    width: 100px;
    background-color: antiquewhite;
    margin: 3px;
}
 #items2{
    height: 50px;
    width: 100px;
    background-color: rgb(134, 120, 100);
    margin: 3px;
}

#items4{
    height: 50px;
    width: 100px;
    background-color: rgb(11, 25, 105);
    margin: 3px;
}
#items5{
    height: 50px;
    width: 100px;
    background-color: rgb(134, 21, 78);
    margin: 3px;
}
#items6{
    height: 50px;
    width: 100px;
    background-color: rgb(0, 44, 17);
    margin: 3px;
} 
#it{
    background-color: black;
    height: 300px;
    width: 1000px;
    margin: 3px; 
display: flex;
flex-wrap: wrap ;
    position: relative;
    left:180px ;
}
#it1{
    height: 250px;
    width:300px ;
    background-color: blue;
    display: flex;
    margin: 2px;
    text-align: center;
    
    
}
#it2{
    height: 300px;
    width:100px ;
    background-color: rgb(255, 0, 200);
    margin: 2px;
    text-align: center;
    
}
#it4{ height: 280px;
    width:150px ;
    background-color: rgb(0, 38, 255);
    margin: 2px;
    text-align: center;}
#it5{ height: 200px;
    width:100px ;
    background-color: rgb(255, 0, 200);
    margin: 2px;
    text-align: center;}
#it6{ height: 200px;
    width:300px ;
    background-color: rgb(204, 231, 48);
    margin: 2px;
    text-align: center;}